<section class="row">
  <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
    <fieldset>
      <div class="form-group" show-errors>
        <label for="name">氏名</label>
        <input type="text" id="name" name="name" class="form-control" ng-model="vm.user.name" placeholder="氏名"
          required autofocus>
        <div ng-messages="vm.userForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">*</p>
        </div>
      </div>
      <div class="form-group" show-errors>
        <label for="email">メール</label>
        <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="メール" lowercase required>
        <div ng-messages="vm.userForm.email.$error" role="alert">
          <p class="help-block error-text" ng-message="required">*</p>
          <p class="help-block error-text" ng-message="email">*</p>
        </div>
      </div>
      <div class="form-group" show-errors>
        <label for="username">ユーザー名</label>
        <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="ユーザー名"
          lowercase required>
        <div ng-messages="vm.userForm.username.$error" role="alert">
          <p class="help-block error-text" ng-message="required">*</p>
        </div>
      </div>
      <div class="text-center form-group">
        <button type="submit" class="btn button submit">
          保存
          <i class="fa fa-arrow-circle-right"></i>
        </button>
      </div>
    </fieldset>
  </form>
</section>
