<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">ホーム</h4>
  </div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li class="active">ホーム</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /. ROW  -->
<div id="page-inner">
  <div class="row bott-wid">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="widget unique-widget">
        <div class="row">
          <div class="widget-caption info">
            <div class="col-xs-4 no-pad">
              <i class="icon fa fa-user-secret"></i>
            </div>
            <div class="col-xs-8 no-pad">
              <div class="widget-detail">
                <h3 data-ng-bind="vm.total_admin">372</h3>
                <span>Admin</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="widget unique-widget">
        <div class="row">
          <div class="widget-caption danger">
            <div class="col-xs-4 no-pad">
              <i class="icon icon-profile-male"></i>
            </div>
            <div class="col-xs-8 no-pad">
              <div class="widget-detail">
                <h3 data-ng-bind="vm.total_manager"></h3>
                <span>Manager</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="widget unique-widget">
        <div class="row">
          <div class="widget-caption sucess">
            <div class="col-xs-4 no-pad">
              <i class="icon icon-happy"></i>
            </div>
            <div class="col-xs-8 no-pad">
              <div class="widget-detail">
                <h3 data-ng-bind="vm.total_user"></h3>
                <span>User</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="widget unique-widget">
        <div class="row">
          <div class="widget-caption sucess">
            <div class="col-xs-4 no-pad">
              <i class="icon icon-basket"></i>
            </div>
            <div class="col-xs-8 no-pad">
              <div class="widget-detail">
                <h3>4770</h3>
                <span>Total Earnings</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="widget unique-widget">
        <div class="row">
          <div class="widget-caption warning">
            <div class="col-xs-4 no-pad">
              <i class="icon icon-trophy"></i>
            </div>
            <div class="col-xs-8 no-pad">
              <div class="widget-detail">
                <h3>870</h3>
                <span>Total Jobs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
